body {
    margin: 0;
    background-image: url(/img/Star-Wars-Battlefront-II-combat.jpg);
    background-repeat: no-repeat;
    background-position-y: 57px;
    background-size: 100%;
}



.header-logo {
    margin-left: 150px;
    object-fit: contain;
}

nav {
    display: flex;
    background-color: #373A3C;
    padding-top: 11px;
    padding-bottom: 11px;
}

.main-nav {
    display: inline-block;
}

nav span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}

.fa-chevron-down {
    color: #8DD83D;
    margin-left: 5px;
}

.fa-user {
    font-size: 20px;
    margin-right: 10px;
    color: #8DD83D;
    
}

.user-lk {
    margin-left: 30px;
}

nav input {
    margin-left: 35px;
    padding: 9px 0px 9px 15px;
    border-radius: 4px;
}

.navbar {
    margin-left: 288px;
}

.navbar-consoles {
    margin-left: 25px;
    margin-right: 21px;
}

nav input::-webkit-input-placeholder 
{ color:#435766; font-family: Arial, Helvetica, sans-serif; font-size: 16px; opacity: 0.4;}
nav input::-moz-placeholder 
{ color:#435766; font-family: Arial, Helvetica, sans-serif; font-size: 16px; opacity: 0.4;}
nav input:-ms-input-placeholder 
{ color:#435766; font-family: Arial, Helvetica, sans-serif; font-size: 16px; opacity: 0.4;}
nav input:-moz-placeholder 
{ color:#435766; font-family: Arial, Helvetica, sans-serif; font-size: 16px; opacity: 0.4;}

.carousel {
    text-align: center;
}

.star-wars {
    text-align: right;
}

.fa-chevron-left {
    color: #8DD83D;
    font-size: 24px;
    position: absolute;
    top: 350px;
    left: 60px;
}

.fa-chevron-right {
    color:#8DD83D;
    font-size: 24px;
    position: absolute;
    top: 350px;
    right: 60px;
}

.name-of-game {
    color: white;
    margin-top: 185px;
    margin-right: 355px;
    text-align: left;
    display: inline-block;
}

.title-game {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    
}

.subtitle-game {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-top: -5px;
}

.btns-star-wars {
    margin-top: 135px;
    margin-right: 210px;
}

.btns-star-wars .btn-watch-trailer {
    background-color: #8DD83D;
    border: none;
    border-radius: 4px;
    padding: 8px 24px 9px 19px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.btns-star-wars .btn-exp-games {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    padding: 8px 24px 9px 19px;
    background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
    margin-left: 10px;
}

.fa-circle {
    color: #8DD83D;
    font-size: 12px;
    margin-top: 150px;
    
}

.ellipses {
    padding-bottom: 35px;
}

.active {
    background-color: #8DD83D;
    border-radius: 50px;
}

.fa-circle:not(:last-of-type) {
    margin-right: 5px;
}

.best-value {
    background: radial-gradient(100% 100% at 50% 0%, #686C6F 0%, #373A3C 100%);
    padding-bottom: 162px;
}

.header-best-value {
    text-align: center;
    padding-top: 65px;
}

.best-title {
    margin-top: 15px;
}

.best-title span {
    display: block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.best-title .large-font {
    font-size: 36px;
}

.best-title .middle-font {
    font-size: 26px;
}

.offers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px;
    margin-top: 42px;
}


.offer {
    background-color: #fff;
    width: 318px;
    padding-bottom: 27px;
}

.offer span {
    display: block;
}

.offer-name {
    margin-top: 22px;
    margin-left: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.offer-description {
    margin-left: 22px;
    margin-top: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.offer-btn {
    border: none;
    border-radius: 4px;
    background-color: #8DD83D;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 38px;
    padding: 19px 23px 20px 23px;
}

.img-container {
    text-align: center;
    background-color: #FAFAFA;
    height: 180px;
}

.center-img {
    margin-top: 53px;
}

.last-img {
    margin-top: 33px;
}

.exclusive-games {
    background-image: url(/img/Rectangle.jpg);
    background-repeat: no-repeat;
    text-align: center;
     background-size: 100%; 
}

.mask-container {
    background: rgba(23, 23, 23, 0.5);
    padding-bottom: 200px;
}

.exclusive-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    color: #fff;
    margin-top: 97px;
    display: inline-block;
}

.game-cards {
    display: flex;
    margin-top: 53px;
    gap: 29px;
    justify-content: center;
    overflow: hidden;
}

.game-card:first-of-type {
    margin-left: 66px;
}

.game-card {
    border: 1px solid #8DD83D;
    border-radius: 4px;
    background-color: #fff;
    padding-bottom: 27px;
    text-align: left;
    height: 393px;
}

.game-card:hover  {
    height: 420px;
}

.game-card:hover img {
    width: 350px;
    height: 198px;
}

.game-card:hover .card-name {
    margin-top: 25px;
    margin-left: 25px;
}

.game-card:hover .card-description {
    margin-left: 25px;
}

.game-card:hover .btn-see-details {
    padding: 22px 108px 23px 109px;
    margin-left: 27px;
    background-color: #63cb2a;
}



.game-card img {
    width: 318px;
    height: 180px;
}

.game-card span {
    display: block;;
}

.card-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 22px;
    margin-left: 21px;
}

.card-description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    margin-top: 16px;
    margin-left: 21px;
}

.btn-see-details {
    background-color: #8DD83D;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 19px 98px 20px 99px;
    margin-top: 43px;
    margin-left: 21px;
}

.btn-store {
    color: #fff;
    background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
    border: none;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    padding: 11px 47px 21px 47px;
    position: absolute;
    top: 2220px;
    left: 597px;
}

@media screen and (max-width: 1920px) and (min-width: 1710px) {


    .navbar input {
        margin-left: 280px;
    }

    .main-nav {
        margin-left: 200px;
    }

    .name-of-game {
        margin-top: 285px;
        margin-right: 350px;
    }

    .title-game { 
        font-size: 56px;
    }

    .subtitle-game {
        font-size: 44px;
    }

    .btns-star-wars {
        margin-top: 135px;
        margin-right: 170px;
    }

    .btns-star-wars .btn-watch-trailer {
        font-size: 26px;
    }

    .btns-star-wars .btn-exp-games {
        font-size: 26px;
    }
}

@media screen and (max-width: 1710px) and (min-width: 1550px) {
    .navbar input {
        margin-left: 300px;
    }

    .name-of-game {
        margin-top: 230px;
        margin-right: 450px;
    }

    .title-game { 
        font-size: 42px;
    }

    .subtitle-game {
        font-size: 30px;
    }

    .btns-star-wars {
        
        margin-right: 268px;
    }

    .btns-star-wars .btn-watch-trailer {
        font-size: 21px;
    }

    .btns-star-wars .btn-exp-games {
        font-size: 21px;
    }
}

@media screen and (max-width: 1350px) and (min-width: 1251px) {
    .fa-circle {
        margin: 0;
    }

    .ellipses {
        margin-top: 115px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 1250px) and (min-width: 1000px) {
    .header-logo {
        margin-left: 100px;
    }
    
    .navbar {
        margin-left: 100px;
    }

    nav input {
        margin-left: 130px;
    }

    nav span {
        font-size: 12px;
    }

    .fa-chevron-left {
        font-size: 18px;
        top: 290px;
        left: 50px;
    }

    .fa-chevron-right {
        font-size: 18px;
        top: 290px;
        right: 50px;
    }

    .name-of-game {
        margin-right: 260px;
        margin-top: 150px;
    }

    .title-game {
        font-size: 32px;
    }

    .subtitle-game {
        font-size: 20px;
    }

    .btns-star-wars {
        margin-right: 140px;
        margin-top: 100px;
    }

    .btns-star-wars .btn-watch-trailer {
        font-size: 13px;
    }

    .btns-star-wars .btn-exp-games {
        font-size: 13px;
    }

    .fa-circle {
        margin-top: 0;
    }

    .ellipses {
        margin-top: 90px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 1000px) and (min-width: 780px) {

    .header-logo {
        margin-left: 20px;
    }
    
    .navbar {
        margin-left: 50px;
    }

    nav span {
        font-size: 12px;
    }

    .fa-chevron-left {
        font-size: 18px;
        top: 230px;
    }

    .fa-chevron-right {
        font-size: 18px;
        top: 230px;
    }

    .name-of-game {
        margin-right: 205px;
        margin-top: 110px;
    }

    .title-game {
        font-size: 28px;
    }

    .subtitle-game {
        font-size: 20px
    }

    .btns-star-wars {
        margin-right: 100px;
        margin-top: 70px;
    }

    .btns-star-wars .btn-watch-trailer {
        font-size: 10px;
        
    }

    .btns-star-wars .btn-exp-games {
        font-size: 10px;
    
    }

    .fa-circle {
        margin: 0;
    }

    .ellipses {
       padding-bottom: 15px;
       margin-top: 65px;
    }

    
}

@media screen and (max-width: 780px) and (min-width: 360px) {

    .container {
        width: 100%;
    }

    body {
        background-position-y: 130px;
    }

    .user-lk {
        margin: 0;
        position: absolute;
        top: 15px;
        right: 15px;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    .main-nav {
        display: block;
        margin-top: 15px;
    }

    .navbar-consoles {
        margin-left: 50px;
        margin-right: 50px;
    }
    

    .header-logo {
        margin-left: 0;
        width: 70px;
        height: 30px;
    }
    
    .navbar {
        margin-left: 0;
    }

    nav input {
        padding: 6px 0px 6px 12px;
        margin-left: 85px;
        margin-top: 15px;
    }

    nav span {
        font-size: 16px;
    }

    nav input::-webkit-input-placeholder 
    {font-size: 12px;}
    nav input::-moz-placeholder 
    {font-size: 12px;}
    nav input:-ms-input-placeholder 
    {font-size: 12px;}
    nav input:-moz-placeholder 
    {font-size: 12px;}

    .blank {
        height: 120px;
    }

    .star-wars {
        text-align: center;
    }

    .fa-chevron-right {
        font-size: 12px;
        top: 200px;
        right: 15px;
    }

    .fa-chevron-left {
        font-size: 12px;
        top: 200px;
        left: 15px;
    }

    .btns-star-wars {
        display: flex;
        flex-direction: column;
        margin-right: 0;
        margin-top: 65px;
    }

    .btns-star-wars .btn-watch-trailer {
        font-size: 10px;
    }

    .btns-star-wars .btn-exp-games {
        font-size: 10px;
        margin-left: 0;
        margin-top: 2px;
    }

    .name-of-game {
        text-align: center;
        margin-right: 0;
        margin-top: 20px;
    }

    .title-game {
        font-size: 24px;
        
    }

    .subtitle-game {
        font-size: 16px;
        
    }

    .ellipses {
        display: none;
    }

    }
